@import "bower_components/bootswatch/paper/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootswatch/paper/_bootswatch.scss";

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}